<div class="sticky-top">

    <ul class="govuk-list left-navigation">
   
      <li>
        <a id="01" class="govuk-link"  href="email-dist">Distribution list</a>
      </li>
      <li>
        <a id="02" class="govuk-link"  href="new-mailing-list">Add new list</a>
      </li>
      <li>
        <a id="03" class="govuk-link" href="add-recipient" >Add a new recipient</a>
      </li>
      <li>
        <a id="04" class="govuk-link" href="manage-emails" >Manage emails</a>
      </li>
      
  
    </ul>
  
    
    
      <!-- <a class="govuk-!-font-size-16 back-to-top hidden" href="#"><svg focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>Back to top</a> -->
  
  
      
  </div>
  