<!-- <script src="/public/javascripts/tt.js"></script> -->

<div class="main-nav nav-wrap auto-height">
  <a id="1" class="govuk-heading-s" href="dashboard">Home</a>
  <a id="2" class="govuk-heading-s" href="search-providers">Providers</a>
  <a id="3" class="govuk-heading-s" href="manage-collections">Collections</a>
  <a id="5" class="govuk-heading-s flex" href="period-end-dashboard">Period end <span class="red-dot">1</span></a>
  <a id="7" class="govuk-heading-s flex" href="#">Reports</a>
  <a id="8" class="govuk-heading-s flex" href="reference-data-dashboard">Ref. Data</a>
  <a id="6" class="govuk-heading-s flex" href="dashboard-fc">Funding Claims</a>
  <a id="4" class="govuk-heading-s" href="manage-notifications">Notifications</a>
    <a id="9" class="govuk-heading-s" href="#">Publications</a>
  
  <!-- <a id="more" class="govuk-heading-s flex" href="#">More</a>
  <div class="nav-dropdown hidden">
    
  </div> -->
  
</div>
