{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations - Home
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}

<script src="/public/javascripts/tt.js"></script>

<br>
<br>

<div class="govuk-grid-row" >
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl">
      <!-- <span class="govuk-caption-m">Data Collections</span> -->
      Funding claims
      <span class="govuk-caption-l">Mid year (R06) Funding Claim 2020 to 2021</span>
    </h1>
    
    <!-- <h2 class="govuk-heading-m"></h2> -->
  </div>

  <!-- <div class="govuk-grid-column-one-half" id="heading-section">
    <section class="info">
      <div class="govuk-heading-s no-margin-bottom">Average processing time</div>
      <span class="inline-display">
        <h3 class="govuk-heading-xl no-margin-bottom govuk-teal"><span id="average">0</span>m 34s
          <text style="color: orange;font-size: 20px">⟷</text>
        </h3>
        <br><span class="govuk-body-s">09:24:26</span>
      </span>
      <span class="inline-display govuk-!-margin-left-5">
        <h3 class="govuk-heading-xl no-margin-bottom"><span id="average">17</span>m 45s
          <text style="color: red;font-size: 20px">&#9650;</text>
        </h3>
        <br><span class="govuk-body-s">Last hour</span>
      </span>
    </section>
  </div> -->
</div>


<div class="govuk-grid-row blue-background">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-l govuk-!-font-size-27">
        <span class="govuk-caption-l">Open date</span>
      13 October 2020 <br> at 08:00
    </h3>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-l govuk-!-font-size-27">
        <span class="govuk-caption-l">Close date</span>
      18 October 2020 <br> at 12:20
    </h3>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-l govuk-!-font-size-27">
        <span class="govuk-caption-l">Signature close date</span>
      20 October 2020 <br> at 16:00
    </h3>
  </div>
</div>


<div class="govuk-grid-row grey-background" >


  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-processing">Providers submitted</a></h2>
      <svg class="circle-chart padding-top-30" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="first" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <!-- was stroke="#efefef" -->
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="firstDonut" data-count="">0</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">out of 100</text>
        </g>
      </svg>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-queued">Providers saved but not submitted</a></h2>
      <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="second" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <!-- was stroke="#efefef" -->
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="secondDonut" data-count="">0</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">out of 100</text>
        </g>
      </svg>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="submissions-v2">Still to return any data</a></h2>
      <svg class="circle-chart padding-top-30" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="third" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <!-- was stroke="#efefef" -->
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" id="thirdDonut" data-count="">0</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">out of 100</text>
        </g>
      </svg>
    </section>
  </div>


  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="submissions-v2">Amount claimed</a></h2>
      <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#ffffff" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="third" class="circle-chart__circle" stroke-width="3" stroke-dasharray="30,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <!-- was stroke="#efefef" -->
        <g class="circle-chart__info">
          <text class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="6" id="thirdDonut" data-count="">£1000</text>
          <text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">out of £1,000,000</text>
        </g>
      </svg>
    </section>
  </div>


  <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-processing">Claimed vs Contract</a></h2>
      <div class="bar-chart-container">
        <canvas id="canvas-queue" style="width:100%; height:300px"></canvas>
      </div>
    </section>
  </div>

  <!-- <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-processing">Topics</a></h2>
      <div class="bar-chart-container">
        <canvas id="canvas-topics" style="width:100%; height:335px"></canvas>
      </div>
    </section>
  </div> -->

  <!-- <div class="govuk-grid-column-one-third">
    <section class="margin-bottom">
      <h2 class="govuk-heading-m centre-text"><a href="jobs-processing">ILR</a></h2>
      <div class="bar-chart-container">
        <canvas id="canvas-ILR" style="width:100%; height:330px"></canvas>
      </div>
    </section>
  </div> -->

    
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Processing in detail</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="border-top">
      <h2 class="govuk-heading-m"><a class="" href="#">Today</a></h2>
      <span class="govuk-heading-l no-margin-bottom">40</span>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m"><a class="" href="#">Last hour</a></h2>
      <span class="govuk-heading-l no-margin-bottom">7</span>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="border-top ">
      <h2 class="govuk-heading-m"><a class="" href="#">Jobs on hold</a></h2>
      <span class="govuk-heading-l no-margin-bottom">18</span>
    </div>
  </div>
</div>



  <!-- <div class="govuk-grid-column-one-third">
    <div class="grey-button">
      <h3 class="govuk-heading-s"><a class="" href="#">16 Servers in use</a></h3>
      <span class="govuk-heading-xl no-margin-bottom"></span>
      <span class="govuk-body-s">9:24am</span>
    </div>

    <div class="grey-button">
      <h3 class="govuk-heading-s"><a class="" href="#">2 Unsubmitted at deadline</a></h3>
      <span class="govuk-heading-xl no-margin-bottom"></span>
      <span class="govuk-body-s">Wednesday 16 January 2019</span>
    </div>
  </div> -->






 {% include "./includes/auto-js.html" %}

{% endblock %}
