{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="main-nav">
  <a class="govuk-heading-s" href="dashboard">Activity</a>
  <a class="govuk-heading-s" href="manage-collections">Collections</a>
  <a class="govuk-heading-s" href="#">Provider(s)</a>
</div>
<br>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage collections</h1>



    <!-- <p><a href="#">Amend collection dates/times</a></p> -->

    <h2 class="govuk-heading-m">Dates for 18/19 return periods</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ILR Standard
            </dt>
            <dd class="govuk-summary-list__value">
              R06 18/19
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Amend
                <span class="govuk-visually-hidden"> ILR Standard</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ILR Periodic
            </dt>
            <dd class="govuk-summary-list__value">
              R06 18/19
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Amend
                <span class="govuk-visually-hidden"> ILR Periodic</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ESF
            </dt>
            <dd class="govuk-summary-list__value">
              R06 18/19
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Amend
                <span class="govuk-visually-hidden"> ESF</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              EAS
            </dt>
            <dd class="govuk-summary-list__value">
              R06 18/19
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Amend
                <span class="govuk-visually-hidden"> EAS</span>
              </a>
            </dd>
          </div>
        </dl>

        <p><a href="#">Create new collection</a></p>

  </div>
</div>











{% endblock %}
