{% extends "layout.html" %}

{% block pageTitle %}
  DC Operations - Home
{% endblock %}

{% block content %}


{% include "./includes/nav.html" %}


  <div class="govuk-width-container">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="dashboard">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="reference-data-dashboard">Reference data</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
              FIS reference data 2021
          </li>
        </ol>
      </div>
      <main class="govuk-main-wrapper app-main-class" id="main-content"  role="main">
<br>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div id="validRefBanner" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                  <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <li>
                        <a href="#passport-issued-error">Enter a valid version number</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
          </div>
        </div>

        <div class="govuk-grid-row">

          

          <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
            
            <h1 class="govuk-heading-xl">FIS reference data 2021</h1>
          </div>
        </div>
        
          <div id="referenceInput" class="govuk-form-group">
            <label class="govuk-label" for="one-half">
              Enter version number
            </label>
            <span id="version-number-error" class="govuk-error-message hide">
                <span class="govuk-visually-hidden">Error:</span> Enter a valid version number
              </span>
            <input id="reference-number-input" class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text" placeholder="for example 5">
            &nbsp;
            <button id="runVersion" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Run
              </button>
          </div>
          
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

              <table id="readyToPublish" class="govuk-table">
                  <caption class="govuk-table__caption govuk-!-font-size-27">Ready to publish</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-width-15">Date</th>
                        <th scope="col" class="govuk-table__header">Processed by</th>
                        <!-- <th scope="col" class="govuk-table__header">File</th> -->
                        <th scope="col" class="govuk-table__header">Version number</th>
                        <th scope="col" class="govuk-table__header govuk-width-17">Status</th>
                        <th scope="col" class="govuk-table__header">Report</th>
                        <th scope="col" class="govuk-table__header">File</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">20 January 2020 at 15:22pm</th>
                        <td class="govuk-table__cell">Lynne BURDON</td>
                        <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                        <td class="govuk-table__cell">123456</td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                          <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Ready to publish</p>  
                        </td>
                        <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                        <td class="govuk-table__cell"> </td>
                        <td scope="col" class="govuk-table__cell"><button class="govuk-button" data-module="govuk-button">
                            Publish
                          </button> <a href="#">Remove</a></td>
                      </tr>
                  </tbody>
                </table>

                <br><br>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-!-font-size-27">Jobs completed</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-width-15">Date</th>
                  <th scope="col" class="govuk-table__header">Processed by</th>
                  <!-- <th scope="col" class="govuk-table__header">File</th> -->
                  <th scope="col" class="govuk-table__header">Version number</th>
                  <th scope="col" class="govuk-table__header govuk-width-17">Status</th>
                  <th scope="col" class="govuk-table__header">Report</th>
                  <th scope="col" class="govuk-table__header">File</th>
                  <th scope="col" class="govuk-table__header">Published date</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">20 January 2020 at 15:22pm</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">123456</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">16 December 2019 at 8:00:12am</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">654321</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
                  </td>
                  <td class="govuk-table__cell"><a href="#"></a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">14 November 2019 at 8:00:12am</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">098765</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
                  </td>
                  <td class="govuk-table__cell"></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">19 October 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">842695</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p> 
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">18 September 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">863567</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">17 August 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">037185</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
                  </td>
                  <td class="govuk-table__cell"></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">15 July 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">944328</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">18 June 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">889166</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">23 May 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">Campus-identifiers-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">412877</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold"><span class="red-font">Job failed</span></td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">20  April 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">946804</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">13 March 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">936957</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">12 February 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">027579</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>  
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">18 January 2019 at 1:00pm	</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">055678</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
                    
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">17 December 2018 at 1:00pm</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">277467</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">17 November 2018 at 1:00pm</th>
                  <td class="govuk-table__cell">Lynne BURDON</td>
                  <!-- <td class="govuk-table__cell"><a href="#">FIS-reference-data-20200217-122234.csv</a></td> -->
                  <td class="govuk-table__cell">966836</td>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">
                    <p class="green-font govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Job finished</p>
                  </td>
                  <td class="govuk-table__cell"><a href="#">FIS-reference-dataRD-202001051533-validation-report-20200101120523.CSV</a></td>
                  <td scope="col" class="govuk-table__cell"> </td>
                  <td scope="col" class="govuk-table__cell">22 January 2020 at 15:22pm</td>
                </tr>
    
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>



{% include "./includes/auto-js.html" %}

{% endblock %}
