{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <br>
      <br>
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <table class="govuk-table">
   <caption class="govuk-table__caption visually-hidden">List of versions</caption>
   <thead class="govuk-table__head">
     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="col">Version</th>
 		<th class="govuk-table__header" scope="col">Updates</th>
       <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
     </tr>
   </thead>
   <tbody class="govuk-table__body">
     <!-- <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Twix 12.0.0<p>27/12/2018</p></th>
         <td class="govuk-table__cell ">
             <p>Private Beta - in progress 07/01/19</p>
             <ul class="govuk-list govuk-list--bullet">
                 <li><a href="12-0-0/start.html">Updated start page content</a></li>
                 <li><a href="12-0-0/theres_a_problem.html">Removed error with grey box and added into exclamation text</a></li>
                 <li><a href="12-0-0/ilr_data_submitted.html">Email info highlighted</a></li>
                 <li><a href="12-0-0/return-period.html">Updated the table view to cards type view</a></li>
                 <li><a href="12-0-0/"></a>Updated telephone number with a link</li>
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="12-0-0/contents.html">Contents</a></td>
         <td class="govuk-table__cell "><a href="./12-0-0/start.html">Start now</a></td>
     </tr> -->
     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.5.0<p>25/04/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 25/04/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li>Updates on <a href="1-5-0/period-end.html">period end</a></li>
                 <li><a href="1-5-0/jobs-processing.html">Jobs processing</a> now added</li>
                 <li><a href="1-5-0/advanced-search-v2">Advanced search tweaks</a></li>
                 
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-5-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.4.0<p>25/04/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 25/04/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-4-0/period-end.html">Added period end</a></li>
                 <li><a href="1-4-0/dashboard.html"></a>Dials now have links above</li>
                 <li><a href="1-4-0/advanced-search-v2">Advanced search</a> added</li>

             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-4-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.3.0<p>11/03/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 11/03/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-3-0/dashboard.html">Added graphs to home page</a></li>
                 <li><a href="#"></a>More lower level pages added</li>
                 <!-- <li><a href="#"></a></li> -->
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-3-0/dashboard.html">Start now</a></td>
     </tr>

     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.2.0<p>18/02/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 18/02/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-2-0/dashboard.html">Added graphs to home page</a></li>
                 <li><a href="#"></a>More lower level pages added</li>
                 <!-- <li><a href="#"></a></li> -->
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-2-0/dashboard.html">Start now</a></td>
     </tr>


     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.1.0<p>04/02/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - in progress 11/02/2019</p>
             <ul class="govuk-list govuk-list--bullet">

                 <li><a href="1-1-0/dashboard.html">Added graphs to home page</a></li>
                 <li><a href="#"></a>More lower level pages added</li>
                 <!-- <li><a href="#"></a></li> -->
             </ul>
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-1-0/dashboard.html">Start now</a></td>
     </tr>


     <tr class="govuk-table__row">
       <th class="govuk-table__header" scope="row">Ready Salted 1.0.0<p>15/01/2019</p></th>
         <td class="govuk-table__cell ">
             <p>Alpha - do not use 18/01/2019</p>
             <!-- <ul class="govuk-list govuk-list--bullet">

                 <li><a href="#"></a></li>
                 <li><a href="#"></a></li>
                 <li><a href="#"></a></li>
             </ul> -->
         </td>
         <td class="govuk-table__cell "><a href="#">Contents</a></td>
         <td class="govuk-table__cell "><a href="1-0-0/dashboard.html">Start now</a></td>
     </tr>




   </tbody>
 </table>
    </div>
  </div>
{% endblock %}
